@charset "UTF-8";

body {
    color: #333;
}

a {
    text-align: center;
    display: block;
    padding: 3px;
    width: 120px;
    border: 1px solid #333;
    border-radius: 15px;
}

a:hover {
    background: #333;
    color: #fff;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}
video {
    width: 100%;
    max-width: 500px;
   }